container {
  padding: 20px
}

table {
  width: 100%;
  margin-bottom: 10px;
}

table, td, th {
  border: 3px solid #245488;
}

td, th {
  padding: 10px 20px;
  text-align: center;
}

button {
  color: #E0FFFF;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
  border-radius: 10rem;
  margin-bottom: 10px;
  padding: 5px;
}

button:hover {
  color: #cbfcff;
  background: rgb(13,109,201);
  background: linear-gradient(90deg, rgba(13,109,201,1) 0%, rgba(54,122,250,1) 37%, rgba(25,255,212,1) 100%);
}

h1 {
  color: rgb(18,128,176);
}

.blocks {
  display: flex;
  align-items: center;
  gap: 20px
}
